.home-page {
  .to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }

  .add-item {
    position: fixed;
    right: 20px;
    bottom: 120px;
  }

  .regression-list {
    position: fixed;
    right: 20px;
    bottom: 220px;
  }

  .mounting {
    position: sticky;
    top: 0;
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;

    .card-item {
      width: 50%;
    }
  }
}

